@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  color-scheme: light;
  color: #343a40;
}

.error {
  margin-top: 4px;
  color: red;
}

/* Animation delay utilities */
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
